.HeaderPart{
    position:fixed;
    width:800px;
    height:80px;
    background:#FFFFFF;
    z-index:999;
}

.SideBarPart{
    float:left;
    width:180px;
    margin-top:80px;
}

.buydetailpart{
    position:relative;
    float:left;
    width:620px;
    margin-left:180px;
    margin-top:110px;
    z-index:99;/*实现层叠*/
}
